extends ../layout/index

block slider
    .slider.headline
        h1.punchline Panama
        em.tagline aventura
block content   
    main.container.mt-5.tagline
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ad, odit nemo illum natus fugit eaque aliquid! Doloremque laudantium corrupti, obcaecati, voluptate minus quasi beatae perspiciatis consequatur error nostrum assumenda.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ad, odit nemo illum natus fugit eaque aliquid! Doloremque laudantium corrupti, obcaecati, voluptate minus quasi beatae perspiciatis consequatur error nostrum assumenda.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")

        h2.text-center.mb-5 Proximos viajes
        include ../layout/partials/viajes
    .descuento.tagline
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo 2020 - 28 de Marzo 2021
                        p.precio $2,500 USD
    .container.tagline
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales

        script.
            ScrollReveal().reveal('.headline')
            ScrollReveal().reveal('.tagline', { delay: 400 })
            ScrollReveal().reveal('.punchline', { delay: 800 })